.top-nav{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  /* background: red; */
  align-items: flex-start;
  justify-content: space-between;
  min-width: 800px;


height: 30px;
margin-bottom: 2%;
}

.logo{
  font-size: 25px;
  display: flex;
  flex-wrap: nowrap;
}

.logo a{
  text-decoration: none;
color: red;
}
.logo-head{
  margin-right: 5px;
}
.logo img{
  width: 25px;
  height: 30px;
}
.search-bar{
    height: 30px;
  min-width: 70%;
  margin-left: 2%;
  margin-right: 2%;
}
.search-bar form{
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  /* background: red; */
}
.sign-in{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 25px;
  min-width:120px;
    /* background: red; */
    height: 30px;

}
.user-profile-image-head{
margin-left:5px;}
.user-profile-image-head
, .user-profile-image-head img
,.user-profile-image-head a{
  height: 100%;

}

.sign-in input{
  float: right;
  height: 30px;
}
#search-video{

  min-width: 80%;
  margin-right: 2%;

}
.signed-user{
  /* background: red; */
  margin-right: 5px;
  border: none;
}


.main-container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.alert-message{

  position: fixed;
  color: white;
  background: red;
  padding: 50px;
  opacity: 0.5;
}
