.video-thumb{

  position:  relative;
}
.video{

  width:220px;
  margin: 10px;
  font-size: 15px;
min-width: 220px;
}
.video-title{

  margin-bottom: 5%;
}
.video-thumb{
  width: 100%;
}
.video-thumb img{
  width: 100%;
}
.video-duration{
  position: absolute;
  bottom: 5%;
  right: 2%;
  color: white;
  background: black;
  padding-left: 2%;
  padding-right: 2%;
}
.video-view-last-view{
  display: flex;
}
.video-total-views{
  margin-right: 10px;
}
.video-user{
  text-decoration: none;
  color: black;
}
.videos-container{
  width: 100%;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  /* align-content: center; */
flex-wrap: wrap;

}
.video-container-heading{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}
.container{
  width: 100%;
}
.video-list-container{
width:85%;
/* background: red; */

  margin: 8%;
}
