.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 30%;
  position: absolute;
  top: 20%;
  left: 30%;
  height: 30%;;

}
.register-container_detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
