.user-detail-container{
  display: flex;
  padding: 10px;
  border-bottom: 2px solid black;
}
.user-profile-pic img{
  margin-right: 10px;
  min-width: 220px;
  min-height: 150px;
}
.user-container-head{
    padding: 10px;
}
.add-video{
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  width: 100%;


}

.add-video > form{

margin-top: 10px;
display: flex;
justify-content: space-between;
  }
