body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-view-container{
  min-width: 500px;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
  /* top: 8%; */
/* margin: 10%; */
position: relative;

}
.like-button{
width:20px;
height:10px;}
.video-container{
  width: 80%;
  /* background: red; */

}
.video-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: red; */
}
.video-detail{
  margin: 1%;
  width: 80%;
  /* background: red; */
}
.video-views-likes-dislikes{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4%;
  align-items: center;
padding-bottom: 4%;
  border-bottom: 1px solid black;
}
.video-likes-dislikes{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.video-title{

    padding-top: 1%;
  padding-bottom: 1%;
}
.video-user-description{
  display: flex;
  flex-direction: column;
}
.user-profile-image{
width: 100px;
margin-right: 15px;
margin-bottom: 15px;
/* max-height:80px; */

}
.user-name{
  text-decoration: none;
  font-style: normal;
  color: black;
}
.user-name-profile-image{
  display: flex;
  align-items: center;
}
.user-profile-image img{
  width: 100%
}
.comments-list-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;

}
.comments-list-item{
  display: flex;
  flex-wrap: nowrap;
    margin-bottom: 4%;
    width: 100%;
}
.comments-list-item a{
  text-decoration: none;
  color: black;
}
.comment-user-profile-image{
width: 60px;
margin-right: 3%;
}
.comment-user-profile-image img{
width: 60px;
/* margin-right: 3%; */
}
.video-comments-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;

}
.video-comments-form{
    /* background: red; */
    width: 100%;
}
.video-comments-container textarea
{  display: block;
  width: 100%;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;;
}
.video-comments-container input
{
  margin-top: 5px;
}
.commment-user-name {
  /* background: red; */
  padding-bottom: 1.5%;
  font-weight: 600;
}.comment-detail{
  width: 100%;
}
.commentlikes-dislikes{
  /* background: red; */
  margin-top: 1%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.comment-like-dislike-head{

    width: 120px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

}
.like-dislike-button{
    width: 50%;}