{% extends "base.html" %}


{% block pagecontent %}
<div class="url-error">
<h1>
    Please check the url...!
</h1>
</div>
<a href="{{ url_for('users.index') }}">Back</a>
</body>
</html>
{% endblock %}