<html lang="en">
<head>
    <script src="/static/js/jquery-3.4.1.min.js"></script>

{% import 'bootstrap/wtf.html' as wtf %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/base.css">
  <link rel="icon" href="/static/img/logo.png" type="image/x-icon" />
  {% block css_import %}
  {% endblock %}
  <title>YouTube</title>
</head>
<body>
<div class="main-container">
<nav class="top-nav">
  <div class="logo">
    <a href="{{url_for('videos.index')}}"><img src="/static/img/logo.png" alt=""></a>
    <a href="{{url_for('videos.index')}}"><div class="logo-head">YOUTUBE</div></a>
  </div>
  <div class="search-bar">
{% if g.search_form %}
                <form class="navbar-form navbar-left" method="get"
                        action="{{ url_for('videos.search') }}">
                    <div class="form-group">


      {{g.search_form.q(size=140, class='form-control',
                            placeholder=g.search_form.q.label.text)}}
                    </div>
                </form>
      {%endif%}
  </div>


<!--login-->
   <div class="sign-in">
     {% if current_user.is_anonymous %}
    <label class="signed-user"></label>

    <button type="submit" name="SignIn" > <a href="{{url_for('users.login')}}">SIGN IN</a> </button>
  {% else %}
       <div   class="user-profile-image-head">
       <a href=""><img src="{{current_user.profile_pic_path}}" alt=""></a>
       </div>
       <a href="{{url_for('users.user_page',username=current_user.username)}}"><label class="signed-user">User: {{current_user.username}}</label></a>
    <button type="submit" name="SignOut"><a href="{{ url_for('users.logout') }}">Logout</a></button>
    {% endif %}
     </div>

</nav>

  {% with messages = get_flashed_messages() %}

        {% if messages %}
     <div class="alert-message">

            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}

        {% endwith %}


</div>

 {% block pagecontent %}
  {% endblock %}
</body>
</html>


