{% extends "base.html" %}

{% block css_import %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block pagecontent %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}


  <div class="video-list-container">

    <div class="trending-video container">
    <div class="video-container-heading">Trending Videos</div>
    <div class="videos-container">
{% for trending in trendings%}
      <div class="video">
        <div class="video-thumb">
          <a href="{{url_for('videos.view_video',video_id=trending.video_id)}}"><img src="{{trending.video_image_thumb}}" alt=""></a>
          <div class="video-duration">{{ (trending.duration/60)|round(0, 'floor')|int }}:{{(trending.duration%60)|round(0, 'floor')|int}}</div>
        </div>
        <div class="video-title"><a href="{{url_for('videos.view_video',video_id=trending.video_id)}}">{{trending.title}}</a>
        </div>
        <div class="video-detail">
          <div class="video-user">
            <a href=""></a>
          </div>
          <div class="video-view-last-view">
            <div class="video-total-views">{{trending.number_of_views}} views</div>
            <div class="video-last-seen">{{moment(trending.last_view_date).fromNow()}}</div>
          </div>
        </div>
      </div>
 {% endfor %}



     </div>
    </div>

    <div class="all-video container">
      <div class="video-container-heading">All Videos</div>
    <div class="videos-container">
{% for video in videos %}



      <div class="video">
        <div class="video-thumb">
          <a href="{{url_for('videos.view_video',video_id=video.video_id)}}"><img src="{{video.video_image_thumb}}" alt=""></a>
          <div class="video-duration">{{ (video.duration/60)|round(0, 'floor')|int }}:{{(video.duration%60)|round(0, 'floor')|int}}</div>
        </div>
        <div class="video-title"><a href="{{url_for('videos.view_video',video_id=video.video_id)}}">{{video.title}}</a>
        </div>
        <div class="video-detail">
          <div class="video-user">
            <a href=""></a>
          </div>
          <div class="video-view-last-view">
            <div class="video-total-views">{{video.number_of_views}} views</div>
            <div class="video-last-seen">{{moment(video.last_view_date).fromNow()}}</div>
          </div>
        </div>
      </div>
 {% endfor %}


    </div>
      </div>
 {% if total==0 %}
      <div class="no-result-found">

          No result Found !!

      </div>
      {%endif%}
  </div>






{% endblock %}