
<html lang="en">
<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/login.css">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <div class="login-container_detail">
      <div>Sign IN</div>
      <div>to continue to YouTube</div>
    </div>
    <div class="login-form">
         {% if form %}
     <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
 {% endif %}
    </div>
    <div class="register_user"><a href="{{url_for('users.register') }}">CREATE ACCOUNT</a></div>
  </div>
</body>
</html>
