<html lang="en">
<head>
 {% import 'bootstrap/wtf.html' as wtf %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/register.css">
  <title>Login</title>
</head>
<body>
  <div class="register-container">
    <div class="register-container_detail">
      <div>Sign UP</div>
      <div>to continue to YouTube</div>
    </div>
    <div class="register-form">

   <form class="form form-horizontal" method="post" role="form">

       {{ wtf.quick_form(form) }}
   </form>
    </div>
  </div>
</body>
</html>