{% extends "base.html" %}

  {% block css_import %}
  <link rel="stylesheet" href="/static/user.css">
   <link rel="stylesheet" href="/static/index.css">

  {% endblock %}

{% block pagecontent %}
{{ moment.include_jquery() }}
{{ moment.include_moment() }}

<div class="user-container">
  <div class="user-container-head">Welcome</div>
  <div class="user-detail-container">
    <div class="user-profile-pic">
      <img src="{{user.profile_pic_path}}" alt="">
    </div>
    <div class="user-detail">
        <div class="user-username">UserName: <input type='text' value="{{user.username}}"   style="margin-left:5px;border:none;"></div>
      <div class="user-email"> Email: <input type='text' value="{{user.email}}"   style="margin-left:34px;border:none;"> </input>  </div>
<!--      <div class="password"> <input type='text' value="new password" disabled></input>  </div>-->


      <div class="user-total-video-count">Total Video : {{total_video_count}}</div>
      <div class="add-video">
      <span>Upload Video :</span>
{% import 'bootstrap/wtf.html' as wtf %}
        {{ wtf.quick_form(upload_form) }}

      </div>
      <div class="user-data">
     <div class="edit-profile">
            <button type="button" name="button">Edit Profile</button>
          </div>
      <button id="generatedata"  type="button">Generate Data </button>
      </div>

    </div>
  </div>
</div>

<div class="user-video">

{% if videos %}
<div class="video-list-container">
  <div class="all-video-container">
 <div class="video-container-heading">Uploaded Videos</div>
    <div class="videos-container">
    {% for video in videos%}
      <div class="video">
           <div class="video-thumb">
             <a href="{{url_for('videos.view_video',video_id=video.video_id)}}" ><img src="{{video.video_image_thumb}}" alt="{{video.title}}" ></a>
        <div class="video-duration">{{ (video.duration/60)|round(0, 'floor')|int }}:{{(video.duration%60)|round(0, 'floor')|int}}</div>
      </div>
      <div class="video-title"><a href="{{url_for('videos.view_video',video_id=video.video_id)}}">{{video.title}}</a></div>
      <div class="video-detail">

        <div class="video-view-last-view">
          <div class="video-total-views">{{video.number_of_views}} views</div>
          <div class="video-last-seen">{{moment(video.last_view_date).fromNow()}}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
  {% endif %}
</div>
<script src="/static/js/generatedata.js"></script>
<script src="/static/js/user_profile.js"></script>
{% endblock%}