{% extends "base.html" %}

  {% block css_import %}
  <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/view-video.css">
  {% endblock %}

{% block pagecontent %}
<h2>  </h2>
<script src="/static/js/generatedata.js"></script>
<button id="generatedata"  type="button">Generate Data </button>
{% endblock %}