{% extends "base.html" %}

  {% block css_import %}
  <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/view-video.css">
  {% endblock %}

{% block pagecontent %}
    <link rel="icon" href="/static/img/logo.png" type="image/x-icon" />
   <title>YouTube</title>
</head>
{% import 'bootstrap/wtf.html' as wtf %}


<div class="video-view-container">
  <div class="video-container">
    <video width="100%" controls>
    <source src="{{video.video_path}}" type="video/mp4">
  </video>
  </div>

  <div class="video-detail">
<div class="video-title">{{video.title}}</div>


    <div class="video-views-likes-dislikes">
      <div class="video-views">{{video.number_of_views}} views</div>
      <div class="video-likes-dislikes">
        <div class="video-likes">
          <form   method="post">
              <button type="submit"  formmethod="post"  name="{{video.video_id}}" value="VideoLikes" likes="{{video.like}} " >{{video.like}} Likes </button>


                  </form>

           </div>
        <div class="video-dislikes">
          <form   method="post">
             <button type="submit"  formmethod="post"  name="{{video.video_id}}" value="VideoDislikes" dislikes="{{video.dislike}}">{{video.dislike}} DisLikes </button>

                  </form>

         </div>
      </div>
    </div>
  <div class="video-user-description">
    <div class="user-name-profile-image">

      <div class="user-profile-image"><img src="{{user.profile_pic_path}}" alt=""></div>
  <a href="" class="user-name">{{user.username}}</a>
    </div>
    <div class="user-name-description">

      <div class="video-description">{{video.description}}</div>

    </div>
    <div class="video-comments-container">
      <div class="video-comments-form">
         {{ commentform.hidden_tag() }}
        {{ wtf.quick_form(commentform) }}

      </div>
  </div>
    </div>
<div class="comments-list-container">
  
</div>
    </div>
</div>
<script>var videoID={{video.video_id}}</script>
<script src="/static/js/s6.js"></script>
{% endblock %}